{% extends "Plantilla_Index.html" %}

{% block content %}
{% block title %}<title>Extracción Basada en Proveedor por Rango de Fechas</title>{% endblock %}
<H1 align="center">Extraccion</H1>
  <div style="margin-left:20px;margin-top:20px">
      <h4>    </h4>
      <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Extraer Ordenes</button>
    </form>
   </div>

{% endblock %}