{% extends "Plantilla_Index.html" %}

{% block content %}
{% block title %}<title>Lista de Regiones disponibles</title>{% endblock %}
<H1 align="center">Lista de Categorias de Productos</H1>
  <div style="margin-left:20px;margin-top:20px">
      <table class="table table-bordered">

          <thead>
          <tr>
              <td>#</td>
              <td>Código de Categoria</td>
              <td>Descripción Categoria</td>
          </tr>
          </thead>
          <tbody>
          {% if categoria_list %}
            {% for categoria in categoria_list %}
             <tr>
                 <td>{{ forloop.counter0 }}</td>
                 <td> {{ categoria.CodigoCategoria }}</td>
                <td>{{ categoria.DescripcionCategoria }}</td>
             </tr>
            {% endfor %}
          {% else %}
           <h1> !!! No hay Categorias Disponibles !!!!</h1>
          {% endif %}
          </tbody>
      </table>
  </div>
{% endblock %}

<!--
CodigoCategoria = models.CharField( max_length=50)
    DescripcionCategoria = models.CharField(unique=True, max_length=100)
-->

