{% extends "Plantilla_Index.html" %}
{% load custom_filters %}
{% block content %}
{% block title %}<title>Proveedores</title>{% endblock %}
<H1 align="center">Agrega Códigos Proveedores (Extracción Automatica)</H1>
  <div style="margin-left:20px;margin-top:20px">
      {% if lista_c %}
        <form>
          <div>
              <br>
              <table class="table table-bordered">
                  <thead>
                      <tr>
                          <td>#</td>
                          <td>Proveedor</td>
                          <td>Código</td>
                      </tr>
                  </thead>
                      {% for reg in lista_d %}
                         <tbody>
                         <td>{{ forloop.counter }}</td>
                        <td>{{ reg }}</td>
                        <td>
                        <input type="text" id="uname" name="C-{{forloop.counter}}" size="20" value="{{lista_c|index:forloop.counter0}}">
                        </td>
                        </tbody>
                      {% endfor %}

              </table>
          </div>
          <div>
              <input type="submit" value="Aceptar" style="background-color:yellowgreen;color:white;padding:5px;font-size:18px;border:none;padding:8px;">
          </div>
       </form>
      {% endif %}
    <div>
{% endblock %}