{% extends "Plantilla_Index.html" %}
<!--
Campos del Modelo Proveedor
CodigoProveedor
NombreProveedor
ActividadProveedor
RutSucursalProveedor
DireccionProveedor
RegionProveedor
NombreContactoProveedor
CargoContactoProveedor
FonoContactoProveedor
MailContactoProveedor
-->
{% block content %}
   <h1>Datos del Proveedor</h1>
   <h1>Nombre del Proveedor: {{ proveedor.NombreProveedor }}</h1>

   <p><strong>Codigo: </strong> <a href="{% url 'food:proveedor' %}">{{ proveedor.CodigoProveedor }}</a></p> <!-- Proveedor detail link not yet defined -->
   <p><strong>Actividad: </strong> {{ proveedor.ActividadProveedor }}</p>
   <p><strong>Rut: </strong> {{ proveedor.RutSucursalProveedor }}</p>
   <p><strong>Dirección: </strong> {{ proveedor.DireccionProveedor }}</p>
   <p><strong>Región: </strong> {{proveedor.regionPk.DescripcionRegion }} </p>
  <!-- <p><strong>Genre:</strong> {% for genre in book.genre.all %} {{ genre }}{% if not forloop.last %}, {% endif %}{% endfor %}</p> -->

   <div style="margin-left:20px;margin-top:20px">
       <h4>Contacto</h4>
       <p><strong>Tele: </strong> {{ proveedor.FonoContactoProveedor }}</p>
       <p><strong>e-mail: </strong> {{ proveedor.MailContactoProveedor }}</p>

   </div>
{% endblock %}