{% extends "Plantilla_Index.html" %}

{% block content %}
{% block title %}<title>Lista de Proveedores disponibles</title>{% endblock %}
<H1 align="center">Lista de Proveedores</H1>
  <div style="margin-left:20px;margin-top:20px">
      <table class="table table-bordered">

          <thead>
          <tr>
              <td>#</td>
              <td>Código de Proveedor</td>
              <td>Razon Social del Proveedor</td>
              <td>Actividad del Proveedor</td>
              <td>El Proveedor se Ubica en</td>
          </tr>
          </thead>
          <tbody>
          {% if proveedor_list %}
            {% for proveedor in proveedor_list %}
             <tr>
                 <td>{{ forloop.counter0 }}</td>
                 <td> {{ proveedor.CodigoProveedor}}</td>
                <td><a href="{{ proveedor.get_absolute_url }}">{{ proveedor.NombreProveedor }}</a></td>
                <td>{{proveedor.ActividadProveedor}}</td>
                <td>{{proveedor.regionPk.DescripcionRegion }}</td>
             </tr>
            {% endfor %}
          {% else %}
           <h1> !!! No hay Proveedores Disponibles !!!!</h1>
          {% endif %}
          </tbody>
      </table>

  </div>
{% endblock %}

<!--
CodigoProveedor = models.CharField(unique=True,max_length=80)
    NombreProveedor = models.CharField(blank=True,max_length=80)
    ActividadProveedor = models.CharField(blank=True,max_length=80)
    RutSucursalProveedor = models.CharField(blank=True,max_length=80)
    DireccionProveedor = models.CharField(blank=True,max_length=100)
    RegionProveedor = models.CharField(max_length=20)
    NombreContactoProveedor = models.CharField(blank=True,max_length=80)
    CargoContactoProveedor = models.CharField(blank=True,max_length=60)
    FonoContactoProveedor = models.CharField(blank=True,max_length=30)
    MailContactoProveedor = models.CharField(blank=True,max_length=80)

-->

