{% extends "Plantilla_Index.html" %}

{% block content %}
<H1 align="center">Extraccion</H1>

  <p>Bienvenido <em>(Soft. Análisis de Precios)</em></p>
  <div style="margin-left:20px;margin-top:20px">
      <h4>    </h4>
     <form action="request_page" method="get">
         <input type="hidden" name="orden"  value="1"/></p>
         <p>Indique Rango de Fecha de Extraccion:</p>
         <p>Fecha Inicio:&nbsp;&nbsp; <input type="date" name="fecha" value=""/>  &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp; Fecha Fin:&nbsp;&nbsp; <input type="date" name="fechaF" value=""/> &nbsp;&nbsp;&nbsp;&nbsp; {% if errorfechas %} {{errorfechas}} {% endif %}</p>
           <p>Agregar los Códigos de los Proveedores:</p>
         <p><textarea name="codigosproveedor" cols="15" rows="10"></textarea></p>
         <p><input type="submit" name="boton" value="Extraer"/></p>
      </form>
       {% if faltandatos %}
         <p style="color:hsla(0,100%,50%,1);">{{faltandatos}}</p>
      {% endif %}
   </div>
   <div style="margin-left:20px;margin-top:20px">
   <h4>Ordenes de Compra del Proveedor:   {{codpro}}</h4>
       <p><strong>Fecha de Emisión: </strong> {{cad.FechaCreacion}}</p>
       <div>
           {% if cad %}
           <ul>
               {% for data in cad.Listado %}
                   <li>
                     <p><strong>Número:  </strong> {{data.Codigo}}  ======> <strong>Nombre de la Orden de Compra: </strong> {{data.Nombre}}</p>
                   </li>
                {% endfor %}
           </ul>
           {% else %}
              <p>!!!No hay Ordenes de COmpra para este Proveedor!!!</p>
           {% endif %}
       </div>
  </div>
  <div style="margin-left:20px;margin-top:20px">
      <h4>    </h4>
     <form action="request_extract" method="get">
         <input type="hidden" name="orden"  value="2"/></p>
         <p><input type="submit" name="boton" value="Extraer Ordenes de Compra"/></p>
      </form>
         {% if precio %}
            {{precio}}
         {% endif %}
   </div>

{% endblock %}

<!--
Utilizando Check Box en Templates


<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'nameform/style.css' %}" >
    <title>Submitted Entries</title>
</head>
<body>
    <h1>Submitted Entries:</h1>
    <h4>Location: {{ location }}</h4>
    <form action="process" method="POST">{% csrf_token %}
    <div id="tablefont">
    <table id="table01">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th class="center">Overwrite</th>
        </tr>
        {% for info in data %}
        <tr>
            <td>{{ info.first_name }}</td>
            <td>{{ info.last_name }}</td>
            <td class="center"><input type="checkbox" name='overwrite-{{ forloop.counter0 }}'></td>  ===> Testing Checkbox

                {% if info.overwrite %}
                <td class="center"><input type="checkbox" name='overwrite-{{ forloop.counter0 }}'></td>
                {% else %}
                <td class="center"></td>
                {% endif %}

        </tr>
        {% endfor %}
    </table>
    </div>
    <br>
    {% if errors %}
    <p class="errorlh">Error:
        <ul>
        {% for error in errors %}
            <li>{{ error }}</li>
        {% endfor %}
        </ul>
    </p>
    {% endif %}
    <br>
    <p><input type="submit" value="Confirm">
    <a href="{% url 'addname' %}">
        <button type="button">Cancel</button></a></p>
    </form>
</body>
</html>
-->