{% extends "Plantilla_Index.html" %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
{% block content %}
{% block title %}<title>Extracción Facturas basada en Rango de Fechas</title>{% endblock %}
<H1 align="center">Extracción de Facturas según Orden de Compra</H1>
  <div style="margin-left:20px;margin-top:20px">
      <ul>
          {% if num > 0 %}
             <h1> Hay {{ num }} facturas para extraer</h1>
                 <form action="{% url 'food:persistir_facturas' %}" method="get">
                     {% csrf_token %}
                    <p><input type="submit" name="boton" value="Extraer Ordenes de Compra"/></p>
                     <p><input type="submit" name="stop" value="Detener Extracción"/></p>
                </form>

          {% else %}
            {% if val > 1 %}
                <h1> !!! Pendientes por Extracción: {{ val }}!!!!</h1>
            {% else %}
                {% if val == 0 %}
                     <h1> !!! Extracción Realizada con Exito !!!!</h1>
                {% else %}
                    <h2> {{son}}</h2>
                {% endif %}

            {% endif %}
          {% endif %}

      </ul>

   </div>

{% endblock %}
{% block PiePaginas %}
{% if messages %}
               {% for message in messages %}
                 <p>
                   {{ message }}
                 <p>
              {% endfor %}
          {% endif %}

{% endblock PiePaginas %}

<script type="text/javascript">
    $(window).load(function() {
        $(".loader").fadeOut("slow");
    });
</script>