{% extends "Plantilla_Index.html" %}

{% block content %}
{% block title %}<title>Extracción Facturas basada en Rango de Fechas</title>{% endblock %}
<H1 align="center">Ordenes de Compra Disponibles para la Extracción</H1>
  <div style="margin-left:20px;margin-top:20px">
      <table class="table table-bordered">

          <thead>
          <tr>
              <td>#</td>
              <td>Código de Orden</td>
              <td>Código Proveedor</td>
              <td>Fecha de Emisión</td>
          </tr>
          </thead>
          <tbody>
          {% if ordenes %}
            {% for orden in ordenes %}
             <tr>
                 <td>{{ forloop.counter }}</td>
                <td>{{ orden.CodigoOrdenCompra }}</td>
                 <td>{{ orden.CodigoProveedor }}</td>
                <td>{{ orden.Fecha }}</td>
             </tr>
            {% endfor %}
            {% if tExtraidas >= 0 %}
                <tr>
                    <td>Núm. Ordenes: Existentes/Nuevas</td>
                    <td>{{tFactAntes}}/{{tExtraidas}}</td>
                 </tr>
            {% else %}
                <tr>
                    <td>Ordenes Existentes:</td>
                    <td>{{tFactAntes}}</td>
                 </tr>
            {% endif %}
          {% else %}
           <h1> !!! No hay Ordenes de Compra Disponibles !!!!</h1>
          {% endif %}
          </tbody>
      </table>

  </div>
{% endblock %}