{% extends "Plantilla_Index.html" %}

{% block content %}
{% block title %}<title>Extracción Facturas</title>{% endblock %}
<H1 align="center">Extracción Detenida</H1>
  <div style="margin-left:20px;margin-top:20px">

  </div>
{% endblock %}