
{% extends "Plantilla_Index.html" %}
{% load static %}
    <head>
        <meta charset="utf-8" />
        <meta name="robots" content="noindex">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <title>Web en construcción</title>
        
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Lemon' rel='stylesheet' type='text/css'>
        
        <link rel="shortcut icon" href="{% static 'images/favicon.jpg' %}">

        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css" />
        <link rel="stylesheet" type="text/css" href="css/animate.css" />
        <link rel="stylesheet" type="text/css" href="css/styles.css" />
    </head>

{% block content %}

        <!-- CONTAINER -->
       <p> {{cad}}</p>
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <div class="section clearfix">
                        <h1 class="logo animated fadeInDown">En Construcción Módulo de Precios Dinámicos</h1>
                    </div>

                </div>
            </div>

        </div>
        <!-- END CONTAINER -->

        <!-- FOOTER -->
        <div id="footer">
                <p>Desarrollado por David Rodríguez </p>
        </div>
        <!-- END FOOTER -->
        

{% endblock %}