{% extends "Plantilla_Index.html" %}

{% block content %}
{% block title %}<title>Productos</title>{% endblock %}
<H1 align="center">Agrega Productos (Lista Base)</H1>
  <div style="margin-left:20px;margin-top:20px">
      {% if lista %}
        <form>
          <div>
              <h2>{{son}}/{{total}} &nbsp; &nbsp; (Uni. = * &nbsp; for ignore ) </h2>
              <br>
              <table class="table table-bordered">
                  <thead>
                      <tr>
                          <td>#</td>
                          <td>Desc. API</td>
                          <td>Desc. Standar</td>
                          <td>Uni. Standar</td>
                      </tr>
                  </thead>
                      {% for reg in lista %}
                         <tbody>
                         <td>{{ forloop.counter }}</td>
                        <td>{{ reg.DescripcionSC}}</td>
                        <td>
                        <input type="text" id="uname" name="D-{{reg.id}}" size="80" value="{{reg.DescripcionC}}" required>
                        </td>
                        <td>

                        <input type="text" id="unames" name="U-{{reg.id}}" size="10" value="{{reg.UnidadesC}}" required>
                        </td>
                        </tbody>
                      {% endfor %}

              </table>
          </div>
          <div>
              <input type="submit" value="Aceptar" style="background-color:yellowgreen;color:white;padding:5px;font-size:18px;border:none;padding:8px;">
          </div>
       </form>
      {% endif %}
    <div>
{% endblock %}
<!--
{% if message %}
        {% if message != 'exito' %}
            <h2> {{message}}</h2>
        {% else %}
            <h2> Registro exitoso !!! &nbsp; &nbsp; Agregados &nbsp; {{nRegDif}} &nbsp; Registros &nbsp; &nbsp; Registros Descartados &nbsp; &nbsp; {{nRegRep}}</h2>
        {% endif %}
    {% endif %}
  </

-->