{% extends "Plantilla_Index.html" %}

{% block content %}
{% block title %}<title>Productos</title>{% endblock %}
<H1 align="center">Cargar Lista Base de Productos</H1>
  <div style="margin-left:20px;margin-top:20px">
     <form>
          <div>
                <label for="uname">Nombre del Archivo: </label>
                <input type="text" id="uname" name="archivo" placeholder="*.txt (Des-API;Un-API;Des-FoodSys;Un-FoodSys)" size="100" required>
                <span class="validity"></span>
          </div>
         <br>
         <br>
          <div>
              <input type="submit" value="Aceptar" style="background-color:yellowgreen;color:white;padding:5px;font-size:18px;border:none;padding:8px;">
          </div>

    </form>
    {% if message %}
        {% if message != 'exito' %}
            <h2> {{message}}</h2>
        {% else %}
            <h2> Registro exitoso !!! &nbsp; &nbsp; Agregados &nbsp; {{nRegDif}} &nbsp; Registros &nbsp; &nbsp; Registros Descartados &nbsp; &nbsp; {{nRegRep}}</h2>
        {% endif %}
    {% endif %}
  </div>
{% endblock %}

<!--
<br>
         <br>
         <div>
              <input type="submit" value="Crear Lista" name="crearlista" style="background-color:yellowgreen;color:white;padding:5px;font-size:18px;border:none;padding:8px;">
          </div>
-->