{% extends "Plantilla_Index.html" %}

{% block content %}
{% block title %}<title>Precios</title>{% endblock %}
<H1 align="center">Precio Sugerido</H1>
  <div style="margin-left:20px;margin-top:20px">
      <table class="table table-bordered">

          <thead>
          <tr>
              <td>#</td>
              <td>Descripción</td>
              <td>Precio Min</td>
              <td>Precio Med</td>
              <td>Precio Max</td>
              <td>Formato</td>
          </tr>
          </thead>
          <tbody>
          {% if product_list %}
            {% for reg in product_list %}
             <tr>
                 <td>{{ forloop.counter }}</td>
                 <td>{{ reg.DescripcionProducto}}</td>
                <td>{{ reg.PrecioMin }}</td>
                 <td>{{ reg.PrecioMedio }}</td>
                 <td>{{ reg.PrecioMax }}</td>
                 <td>{{ reg.formatoFk.UnidadesFormato }}</td>
             </tr>
            {% endfor %}
          {% else %}
           <h1> !!! No hay Productos Disponibles !!!!</h1>
          {% endif %}
          </tbody>
      </table>

  </div>
{% endblock %}