{% extends "Plantilla_Index.html" %}
<!--


-->
{% block content %}
   <h1>Datos del Producto</h1>
   <h1>Nombre del Producto: {{ producto.DescripcionProducto }}</h1>

   <p><strong>Codigo: </strong> <a href="{% url 'food:producto' %}">{{ producto.CodigoProducto }}</a></p> <!-- Proveedor detail link not yet defined -->
   <p><strong>Categoria: </strong> {{ producto.categoriaFk.DescripcionCategoria }}</p>
   <p><strong>Formato: </strong> {{ producto.formatoFk.DescripcionFormato }}</p>
   <p><strong>Precio Max: </strong> {{ producto.PrecioMax }}</p>
   <p><strong>Precio Medio: </strong> {{ producto.PrecioMedio }}</p>
   <p><strong>Precio Min: </strong> {{ producto.PrecioMin }}</p>
{% endblock %}

<!--
    CodigoCategoria = models.CharField(blank=True,max_length=50)
    categoriaFk = models.ForeignKey(Categoria, null= True, blank= True, on_delete = models.CASCADE)
    CodigoProducto = models.CharField(max_length=50)
    DescripcionProducto = models.CharField(blank=True,max_length=80)
    PrecioCosto = models.FloatField(default=0)
    PrecioMin = models.FloatField(default=0)
    PrecioMedio = models.FloatField(default=0)
    PrecioMax = models.FloatField(default=0)
    FechaModifica = models.DateField()
    formatoFk = models.ForeignKey(Formato, null= True, blank= True, on_delete = models.CASCADE)
    Activo = models.BooleanField(default = True)
-->