{% extends "Plantilla_Index.html" %}

{% block content %}
{% block title %}<title>Lista de Productos disponibles</title>{% endblock %}
<H1 align="center">Lista de Productos</H1>
  <div style="margin-left:20px;margin-top:20px">
      <table class="table table-bordered">

          <thead>
          <tr>
              <td>#</td>
              <td>Código del Producto</td>
              <td>Descripción del Producto</td>
              <td>Formato</td>
              <td>Precio Max.</td>
              <td>Precio Costo</td>
          </tr>
          </thead>
          <tbody>
          {% if producto_list %}
            {% for producto in producto_list %}
             <tr>
                 <td>{{ forloop.counter0 }}</td>
                 <td> {{ producto.CodigoProducto}}</td>
                <td><a href="{{ producto.get_absolute_url }}">{{ producto.DescripcionProducto  }}</a></td>
                 <td>{{ producto.formatoFk.DescripcionFormato }}</td>
                <td>{{producto.PrecioCosto }}</td>
                <td>{{producto.PrecioMax }}</td>
             </tr>
            {% endfor %}
          {% else %}
           <h1> !!! No hay Productos Disponibles !!!!</h1>
          {% endif %}
          </tbody>
      </table>

  </div>
{% endblock %}


<!--
    CodigoCategoria = models.CharField(blank=True,max_length=50)
    categoriaFk = models.ForeignKey(Categoria, null= True, blank= True, on_delete = models.CASCADE)
    CodigoProducto = models.CharField(max_length=50)
    DescripcionProducto = models.CharField(blank=True,max_length=80)
    PrecioCosto = models.FloatField(default=0)
    PrecioMin = models.FloatField(default=0)
    PrecioMedio = models.FloatField(default=0)
    PrecioMax = models.FloatField(default=0)
    FechaModifica = models.DateField()
    formatoFk = models.ForeignKey(Formato, null= True, blank= True, on_delete = models.CASCADE)
    Activo = models.BooleanField(default = True)
-->


