{% extends "Plantilla_Index.html" %}

{% block content %}
{% block title %}<title>Lista Base de Productos</title>{% endblock %}
<H1 align="center">Cotejo Producto (Std) - Producto (API)</H1>
  <div style="margin-left:20px;margin-top:20px">
      <table class="table table-bordered">

          <thead>
          <tr>
              <td>#</td>
              <td>Descripción Std</td>
              <td>Descripción API</td>
              <td>Unidades Standarizada</td>
          </tr>
          </thead>
          <tbody>
          {% if product_list %}
            {% for reg in product_list %}
             <tr>
                 <td>{{ forloop.counter }}</td>
                 <td>{{ reg.DescripcionProducto}}</td>
                <td>{{ reg.listaBasepk.DescripcionSC }}</td>
                 <td>{{ reg.formatoFk.UnidadesFormato }}</td>
             </tr>
            {% endfor %}
          {% else %}
           <h1> !!! No hay Productos Disponibles !!!!</h1>
          {% endif %}
          </tbody>
      </table>

  </div>
{% endblock %}