{% extends "Plantilla_Index.html" %}

{% block content %}
{% block title %}<title>Lista Base de Productos</title>{% endblock %}
<H1 align="center">Lista Base Productos</H1>
  <div style="margin-left:20px;margin-top:20px">
      <table class="table table-bordered">

          <thead>
          <tr>
              <td>#</td>
              <td>Estado</td>
              <td>Descripción API</td>
              <td>Unidades API</td>
              <td>Descripción Standarizada</td>
              <td>Unidades Standarizada</td>
          </tr>
          </thead>
          <tbody>
          {% if productos %}
            {% for reg in productos %}
             <tr>
                 <td>{{ forloop.counter }}</td>
                 {% if reg.estado %}
                    <td> C </td>
                 {% else %}
                     <td>S/C</td>
                 {% endif %}
                <td>{{ reg.DescripcionSC }}</td>
                 <td>{{ reg.UnidadesSC }}</td>
                <td>{{ reg.DescripcionC }}</td>
                 <td>{{ reg.UnidadesC }}</td>
             </tr>
            {% endfor %}
          {% else %}
           <h1> !!! No hay Productos Disponibles !!!!</h1>
          {% endif %}
          </tbody>
      </table>

  </div>
{% endblock %}