{% extends "Plantilla_Index.html" %}

{% block content %}
{% block title %}<title>Detalles Ordenes de Compra</title>{% endblock %}
<H1 align="center">Detalle Orden de Compra</H1>
  <div style="margin-left:20px;margin-top:20px">
      <div>
          {% if factura %}
          <p> Código de Factura: <a href="">{{ factura.CodigoOrdenCompra }}</a></p>
            <p> Proveedor: {{ factura.proveedorFk.NombreProveedor }}</p>
            <p> Comprador:  {{ factura.compradorFk.NombreOrganismoComprador }}</p>
            <p> Fecha Emisión:  {{ factura.Fecha }}</p>
          {% endif %}
      </div>
      <table class="table table-bordered">
          <thead>
          <tr>
              <td>#</td>
              <td>Producto</td>
              <td>Formato</td>
              <td>Cantidad</td>
              <td>Precio Neto</td>
          </tr>
          </thead>
          <tbody>
          {% if detalle %}
            {% for detail in detalle %}
             <tr>
                 <td>{{ forloop.counter0 }}</td>
                <td>{{ detail.productoFk.DescripcionProducto }}</td>
                 <td>{{ detail.productoFk.formatoFk.DescripcionFormato }}</td>
                <td>{{ detail.Cantidad }}</td>
                <td>{{ detail.PrecioNeto }}</td>
             </tr>
            {% endfor %}
            <tr>
                 <td><strong>Total Facturado: </strong></td>
                <td></td>
                <td></td>
                <td></td>
                <td>{{ factura.TotalFactura }}</td>
             </tr>
          {% else %}
           <h1> !!! No hay Detalle en Factura Disponibles !!!!</h1>
          {% endif %}
          </tbody>
      </table>

  </div>
{% endblock %}

<!--
    CodigoCategoria = models.CharField(blank=True,max_length=50)
    categoriaFk = models.ForeignKey(Categoria, null= True, blank= True, on_delete = models.CASCADE)
    CodigoProducto = models.CharField(max_length=50)
    DescripcionProducto = models.CharField(blank=True,max_length=80)
    PrecioCosto = models.FloatField(default=0)
    PrecioMin = models.FloatField(default=0)
    PrecioMedio = models.FloatField(default=0)
    PrecioMax = models.FloatField(default=0)
    FechaModifica = models.DateField()
    formatoFk = models.ForeignKey(Formato, null= True, blank= True, on_delete = models.CASCADE)
    Activo = models.BooleanField(default = True)
-->