{% extends "Plantilla_Index.html" %}

{% block content %}
{% block title %}<title>Listar Ordenes por Rango de Fechas</title>{% endblock %}
<H1 align="center">Ordenes Extraidas</H1>
  <div style="margin-left:20px;margin-top:20px">
      <h4>    </h4>
      <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Listar Ordenes</button>
     </form>
      {% if Err %}
          <h4> {{ Err }}   </h4>
      {% endif %}
   </div>

{% endblock %}