{% extends "Plantilla_Index.html" %}

{% block content %}
{% block title %}<title>Listar Ordenes por Rango de Fechas</title>{% endblock %}
<H1 align="center">Listado de Ordenes de Compra</H1>
  <div style="margin-left:20px;margin-top:20px">
      <table class="table table-bordered">

          <thead>
          <tr>
              <td>#</td>
              <td>Código de Orden</td>
              <td>Código del Proveedor</td>
              <td>Fecha de Emisión</td>
          </tr>
          </thead>
          <tbody>
          {% if ordenes %}
            {% for orden in ordenes %}
             <tr>
                 <td>{{ forloop.counter0 }}</td>
                <td><a href="{% url 'food:detalle_factura'  orden.id %}">{{ orden.CodigoOrdenCompra }}</a></td>
                <td>{{ orden.proveedorFk.NombreProveedor }}</td>
                <td>{{ orden.Fecha }}</td>
             </tr>
            {% endfor %}
          {% else %}
           <h1> !!! No hay Ordenes de Compra Disponibles !!!!</h1>
          {% endif %}
          </tbody>
      </table>

  </div>
{% endblock %}