{% extends "Plantilla_Index.html" %}

{% block content %}
{% block title %}<title>Lista de Regiones disponibles</title>{% endblock %}
<H1 align="center">Lista de Regiones</H1>
  <div style="margin-left:20px;margin-top:20px">
      <table class="table table-bordered">

          <thead>
          <tr>
              <td>#</td>
              <td>Código de Región</td>
              <td>Descripción</td>
          </tr>
          </thead>
          <tbody>
          {% if region_list %}
            {% for region in region_list %}
             <tr>
                 <td>{{ forloop.counter0 }}</td>
                 <td> {{ region.CodigoRegion }}</td>
                <td>{{ region.DescripcionRegion }}</td>
             </tr>
            {% endfor %}
          {% else %}
           <h1> !!! No hay Regiones Disponibles !!!!</h1>
          {% endif %}
          </tbody>
      </table>
  </div>
{% endblock %}

<!--
CodigoRegion = models.CharField( max_length=20)
DescripcionRegion = models.CharField(unique=True, max_length=100)
-->

