{% extends "Plantilla_Index.html" %}

{% block content %}
<H1 align="center">Análisis de Precios</H1>

  <p>Bienvenido <em>(Soft. Análisis de Precios)</em></p>


<!--  num_proveedores': num_proveedores, 'num_compradores'  -->
  <p>Num. de Proveedores/Num. Compradores :</p>
  <ul>
    <li><strong>Proveedores:</strong> {{ num_proveedores }}</li>
    <li><strong>Compradores:</strong> {{ num_compradores }}</li>
    <li><strong>Num. Detalle Productos:</strong> {{ num_detalles }}</li>
  </ul>

{% endblock %}