<!DOCTYPE html>
<html lang="es">
<head>
    {% block title %}
         <title>Análisis de Precios </title>
    {% endblock %}




  <!-- Add additional CSS in static file  -->

  {% load static %}
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="{% static 'js/Chart.js' %}"></script>


</head>

<!------ Include the above in your HEAD tag ---------->


<body>
<div class="container-fluid">
    <div class="row">
      <div class="col-sm-2">
         {% block sidebar %}
          <div class="wrapper">
              <a class="navbar-logo" href="#">
                 <img src="{% static 'images/Logo_FoodSys.png' %}" alt="Logo"/>
              </a>

              <div class="main_sidebar">
              <ul>
                <li><i class="fa fa-home"></i><a href="{% url 'food:index' %}">Home</a></li>
                <li><h2>Proveedores</h2></li>
                <li><i class="fa fa-bus"></i><a href="{% url 'food:proveedor' %}">Proveedores</a></li>
                  <li><i class="fa fa-search"></i><a href="{% url 'food:extraccion_proveedor' %}">Extracción Ordenes (Prov)</a></li>
                  <li><i class="fa fa-search"></i><a href="{% url 'food:lista_proveedor_extract' %}">Agregar Cod. Prov. Extrct. Automc.</a></li>
                  <li><i class="fas fa-leaf"></i><a href="{% url 'food:region' %}">Region</a></li>
                  <li><h2>Clientes</h2></li>
                <li><i class="fas fa-cart-arrow-down"></i><a href="{% url 'food:comprador' %}">Compradores</a></li>
                  <li><h2>Productos</h2></li>
                 <li><i class="fas fa-leaf"></i><a href="{% url 'food:producto' %}">List. Productos (Std)</a></li>
                 <li><i class="fas fa-leaf"></i><a href="{% url 'food:cotejo_producto_lista_base' %}">Cotejo Productos (Std - L.Base)</a></li>
                 <li><i class="fas fa-leaf"></i><a href="{% url 'food:producto_sc' %}">List. Productos sin Clasificar</a></li>

                 <li><i class="fas fa-leaf"></i><a href="{% url 'food:categorias' %}">Categorias</a></li>

                <li><h2>Extracción</h2></li>
                <li><i class="fa fa-search"></i><a href="{% url 'food:extraccion_facturas' %}">Extraer - Ordenes Disponibles</a></li>
                <li><i class="fa fa-search"></i><a href="{% url 'food:listar_ordenes' %}">Ordenes Disponibles Extracción</a></li>
                 <li><i class="fa fa-search"></i><a href="{% url 'food:Listar_Ordenes' %}">Listar Ordenes por Fecha</a></li>
                  <li><h2>Gráficas</h2></li>
                  <li><i class="fa fa-search"></i><a href="{% url 'food:grafica_producto' %}?opcion=1">Gráficas de Productos</a></li>
                  <li><i class="fa fa-search"></i><a href="{% url 'food:grafica_producto' %}?opcion=2">Gráficas de Prod. (Cliente)</a></li>
                  <li><i class="fa fa-search"></i><a href="{% url 'food:top_10' %}">Top 10 (+ Vendidos)</a></li>
                  <li><i class="fa fa-search"></i><a href="{% url 'food:top_10_segmenta' %}">Top 10 (+ Segmentados)</a></li>
                  <li><h2>Lista Base</h2></li>
                  <li><i class="fa fa-search"></i><a href="{% url 'food:add_lista_base' %}">Agregar Lista Base (Clasificador)</a></li>
                  <li><i class="fa fa-search"></i><a href="{% url 'food:view_lista_base' %}">Ver Lista Base (Clasificador)</a></li>
                  <li><i class="fa fa-search"></i><a href="{% url 'food:update_lista_base' %}">Actualizar Lista Base (Prod. Sin/C)</a></li>
                  <li><h2>Sugerir Precios</h2></li>
                  <li><i class="fa fa-search"></i><a href="{% url 'food:sugiere_precios' %}">Sugerir Precios</a></li>
                  <li><i class="fa fa-search"></i><a href="{% url 'food:lista_precios_sugeridos' %}">Listar Precios/Suge.</a></li>

            </ul>
          </div>
        </div>
        {% endblock %}
      </div>
      <div class="col-sm-10 ">
          {% block content %}
          {% endblock %}
      </div>
    </div>

  </div>
<div class="col-sm-10 ">
   {% block PiePaginas %}
   {% endblock PiePaginas %}
</div>
</body>

</html>


<!--
<ul class="submenu">
        <li><a href="">Tops</a></li>
        <li><a href="">Bottoms</a></li>
        <li><a href="">Footwear</a></li>
      </ul>
-->