/*  Gif de espera*/
/* ============================================================================================*/

.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../images/gears.gif') 50% 50% no-repeat rgb(249,249,249);
    opacity: .8;
}


.precarga {
    background:transparent url(../images/gears.gif) center no-repeat;
 }
 /*  Fin Gif espera*/
/* ============================================================================================*/

html
{
  position: relative;
  min-height: 100%;
}
body
{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: #ffffff;
    font-weight: 300;
    font-size: 14px;
    background: #454545;

    /* Margin bottom by footer height (sticky)  */
    margin-bottom: 80px;

}
/*  Side Bar Invento*/
/* ============================================================================================*/
.navbar-logo{
  display: inline-block;
  vertical-align: middle;
  width: 100px;
  height: auto;
}
.navbar-logo img{
  display: block;
  width: 100%;
  height: auto;

}
.main_sidebar {
    margin-top: 20px;
    padding: 0;
    min-height:100vh;
    position:fixed;
    left:0;
    width:250px;
    height: 120px;
    overflow-y: auto;
    transition: all 300ms cubic-bezier(0.65, 0.05, 0.36, 1);
    will-change: left, width;
    box-shadow: inset -1px 0 10px rgba(0, 0, 0, 0.4);
    background: #293749;
}
.main_sidebar:after {
    content: '';
    background-color: #253238;
    position: absolute;
    top: 0;
    z-index: -1;
    height: 80%;
    width: 58px;
}
.main_sidebar ul {
    list-style:none;
    padding-left:58px;
    height: 90%;
    overflow:auto;

}
.main_sidebar ul li {
    padding:10px;
}
.main_sidebar ul li a {
    color:#fff;
    display:block;
}
.main_sidebar ul li i {
    float:left;
    color:grey;
    margin-left:-58px;
    font-size:24px;
    padding-left:7px;
}
.main_sidebar ul li:hover {
    background:#167696;
}
.main_sidebar ul li a:hover {
    color:#fff;
    text-decoration:none;
}
.main_sidebar ul li:hover i {
    color:#fff;
}
.main_sidebar ul li.active {
    background:#0f4698;
}
.main_sidebar ul li.active i {
    color:#fff;
}
.main_sidebar ul li.active:hover {
    background:#167696;
}
.main_sidebar ul li.active:hover i {
    color:#fff;
    padding:10px;
}
/* ==============================================================================================================================*/
/* Fin Side Bar Invento  */


/* ==============================================================================================================================*/
/* Fin Side Bar Invento  */
h1, h2, h3, h4, h5, h6
{
    font-weight: 300;
    line-height: normal;
}
h1
{
    font-size: 45px;
}
h1.logo
{
    font-size: 45px;
    padding-top: 100px;
    font-family: 'Lemon', cursive;
}
h2.logo
{
    font-family: 'Lemon', cursive;
}
h2
{
    font-size: 20px;
}
h3.logo
{
    font-family: 'Lemon', cursive;
}
h3
{
    font-size: 17px;
}
a:hover
{
    text-decoration: none;
    color: #f0f0f0;
}
a, button
{
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.footer
{
    color: #ffffff;
    position: absolute;
    overflow: hidden;
    bottom: 0;
    width: 100%;
    height: auto;
    text-align: center;
    z-index: 100;
    padding-bottom: 20px;
}

/* Footer gradient */
.backgroundImage #footer,
.backgroundSlider #footer,
.backgroundVideo #footer
{
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C */
}

.footer p
{
    font-size: 15px;
    margin: 0px;
}

.footer a
{
    color: #ffffff;
    text-decoration: underline;
}

.slide.cycle-slide
{
    width: 100%;
}

.btn
{
    border-radius: 0px;
}
.btn-transparent
{
    color: #ffffff;
    background: transparent;
    border: 1px solid #ffffff;
}
.btn-transparent:hover,
.btn-transparent:focus,
.btn-transparent:active,
.btn-transparent.active
{
  color: #545454;
  background-color: #ffffff;
  border-color: #ffffff;
}

.btn-facebook:hover,
.btn-facebook:focus,
.btn-facebook:active,
.btn-facebook.active
{
    color: #ffffff;
    background-color: #3B5998;
    border-color: #3B5998;
}

.btn-twitter:hover,
.btn-twitter:focus,
.btn-twitter:active,
.btn-twitter.active
{
    color: #ffffff;
    background-color: #00aced;
    border-color: #00aced;
}

.btn-googleplus:hover,
.btn-googleplus:focus,
.btn-googleplus:active,
.btn-googleplus.active
{
    color: #ffffff;
    background-color: #dd4b39;
    border-color: #dd4b39;
}

.btn-youtube:hover,
.btn-youtube:focus,
.btn-youtube:active,
.btn-youtube.active
{
    color: #ffffff;
    background-color: #bb0000;
    border-color: #bb0000;
}

.btn-linkedin:hover,
.btn-linkedin:focus,
.btn-linkedin:active,
.btn-linkedin.active
{
    color: #ffffff;
    background-color: #007bb6;
    border-color: #007bb6;
}

.btn-instagram:hover,
.btn-instagram:focus,
.btn-instagram:active,
.btn-instagram.active
{
    color: #ffffff;
    background-color: #517fa4;
    border-color: #517fa4;
}

.btn-pinterest:hover,
.btn-pinterest:focus,
.btn-pinterest:active,
.btn-pinterest.active
{
    color: #ffffff;
    background-color: #cb2027;
    border-color: #cb2027;
}