{% extends "Plantilla_Index.html" %}
<!--
CodigoOrganismoComprador
NombreOrganismoComprador
RutUnidadComprador
ActividadComprador
DireccionUnidadComprador
RegionUnidadComprador
NombreContactoComprador
CargoContactoComprador
FonoContactoComprador
MailContactoComprador
-->
{% block content %}
   <h1>Datos del Comprador</h1>
   <h1>Nombre del Comprador: {{ comprador.NombreOrganismoComprador }}</h1>

   <p><strong>Codigo: </strong> <a href="{% url 'food:comprador' %}">{{ comprador.CodigoOrganismoComprador }}</a></p> <!-- Proveedor detail link not yet defined -->
   <p><strong>Actividad: </strong> {{ comprador.ActividadComprador }}</p>
   <p><strong>Rut: </strong> {{ comprador.RutUnidadComprador }}</p>
   <p><strong>Dirección: </strong> {{ comprador.DireccionUnidadComprador }}</p>
   <p><strong>Región: </strong> {{ comprador.regionPk.DescripcionRegion }}</p>
  <!-- <p><strong>Genre:</strong> {% for genre in book.genre.all %} {{ genre }}{% if not forloop.last %}, {% endif %}{% endfor %}</p> -->

   <div style="margin-left:20px;margin-top:20px">
       <h4>Contacto</h4>
       <p><strong>Teleléfono: </strong> {{ comprador.FonoContactoComprador }}</p>
       <p><strong>e-mail: </strong> {{ comprador.MailContactoComprador }}</p>

   </div>
{% endblock %}