{% extends "Plantilla_Index.html" %}

{% block content %}
{% block title %}<title>Lista de Compradores disponibles</title>{% endblock %}
<H1 align="center">Lista de Compradores</H1>
  <div style="margin-left:20px;margin-top:20px">
      <table class="table table-bordered">

          <thead>
          <tr>
              <td>#</td>
              <td>Código de Comprador</td>
              <td>Razon Social del Comprador</td>
              <td>Actividad del Compradorr</td>
              <td>El Comprador se Ubica en</td>
          </tr>
          </thead>
          <tbody>
          {% if comprador_list %}
            {% for comprador in comprador_list  %}
             <tr>
                 <td>{{ forloop.counter0 }}</td>
                 <td> {{ comprador.CodigoOrganismoComprador }}</td>
                <td><a href="{{ comprador.get_absolute_url }}">{{ comprador.NombreOrganismoComprador }}</a></td>
                <td>{{comprador.ActividadComprador}}</td>
                <td>{{comprador.regionPk.DescripcionRegion }}</td>
             </tr>
            {% endfor %}
          {% else %}
           <h1> !!! No hay Compradores Disponibles !!!!</h1>
          {% endif %}
          </tbody>
      </table>

  </div>
{% endblock %}

<!--
    CodigoOrganismoComprador = models.CharField(max_length=80)
    NombreOrganismoComprador = models.CharField(blank=True,max_length=200)
    RutUnidadComprador = models.CharField(blank=True,max_length=20)
    ActividadComprador = models.CharField(blank=True,max_length=200)
    DireccionUnidadComprador = models.CharField(blank=True,max_length=100)
    regionPk = models.foreingKey
    NombreContactoComprador = models.CharField(blank=True,max_length=80)
    CargoContactoComprador = models.CharField(blank=True,max_length=55)
    FonoContactoComprador = models.CharField(blank=True,max_length=20)
    MailContactoComprador = models.CharField(blank=True,max_length=50)
-->




