{% extends "Plantilla_Index.html" %}
{% load custom_filters %}
{% block title %}
<title>Análisis de Sensibilidad de Precios</title>
{% endblock title %}
{% block content %}
<H1 align="center">Sensibilidad de Precios</H1>
<section id="content">
<div class="container">
     {% if datos %}
        <h4>Producto: <a href="{% url 'food:grafica_producto' %}?opcion={{op}}">{{ producto }}</a> </h4>
        <table class="table table-bordered">
          <thead>
            <tr>
                <td>#</td>
              <td>Precio/Producto</td>
              <td>Demanda ({{formato}})</td>
               <td>Total Recaudado</td>
            </tr>
          </thead>
          <tbody>
             {% for price,demand in datos %}
                 <tr>
                     <td>{{forloop.counter}}</td>
                     <td>{{price}}</td>
                     <td>{{demand}}</td>
                     <td>{{ventas|index:forloop.counter0}}</td>
                 </tr>
             {% endfor %}
             <tr>
                 <td> </td>
                 <td>(Fact. Enc:&nbsp; {{tfact}} &nbsp;)&nbsp;Prom. Factura: </td>
                 <td> {{promfact}} </td>
             </tr>
           </tbody>
        </table>
        <div class="row">
           <hr class="colorgraph">
             <div class="col‐sm‐40">
                 <h3></h3>
                 <canvas id="chart-area3" width="600" height="300"></canvas>
             </div>
             <br><br>
            <hr class="colorgraph">
              <div class="media">
                 <div class="col‐sm‐40">
                    <h3></h3>
                    <canvas id="chart-area" width="600" height="200"></canvas>
                 </div>
              </div>
            <br><br>
            <hr class="colorgraph">
              <div class="">
                 <div class="col‐sm‐40">
                    <h3></h3>
                    <canvas id="popChart" width="800" height="300"></canvas>
                 </div>
              </div>
            <br><br>
        </div>
     {% else %}
        <h1> !!! No hay Datos Disponibles para Construir la Gráfica !!!!</h1>
     {% endif %}
</div>
</section>

{% endblock content %}

{% block PiePaginas %}
<script type="text/javascript">

    var prices = {{precios|safe}};
    var col = {{color|safe}};
    var demand = {{demandas|safe}};
    var volumen = {{volumen|safe}};
    var rd = {{radio|safe}};
    var i ={{i|safe}};
    var pieDate=[];
    var xdata = [];
    var label = [];
    var r=0;
    var bubbleChartData = {
			animation: {
				duration: 10000
			},
			datasets: []
		};

	for (var index = 0; index < i; index++) {
        var newDataset = {
                label: prices[index],
                backgroundColor: col[index],
                data: []
            };
    	newDataset.data.push({
				x: prices[index],
				y: demand[index],
				r: rd[index]
			});
		bubbleChartData.datasets.push(newDataset);
		}


    var barChartData = {
			animation: {
				duration: 10000
			},
			datasets: [],
			//labels: prices
		};

	for (var index = 0; index < i; index++) {
        var newDataset = {
                label: prices[index],
                backgroundColor: col[index],
                data: []
            };
         newDataset.data.push({
                x: prices[index],
				y: demand[index],
			});
		//newDataset.data.push(labels = prices[index]),
		barChartData.datasets.push(newDataset);
		//barChartData.labels.push(prices[index])
		}

    var config = {
			type: 'pie',
			data: {
				datasets: [{
                                data: demand,
                                backgroundColor: col,
                                label: 'Dataset 1'
				          }],
				labels: prices
			},
			options: {
				responsive: true
			}
		};

    var ctx = document.getElementById("chart-area3").getContext("2d");
    var ctx3 = document.getElementById("chart-area").getContext("2d");
    var ctxp = document.getElementById("popChart").getContext("2d");
    window.myPie = new Chart(ctx, config);

    window.myChart = new Chart(ctxp, {
                                        type: 'bubble',
                                        data: bubbleChartData,
                                        options: {
                                            responsive: true,
                                            title: {
                                                display: true,
                                                text: 'Volumen de Ventas según el Precio'
                                            },
                                            tooltips: {
                                                mode: 'point'
                                            }
                                        }
			});
    window.myChart = new Chart(ctx3, {
                                        type: 'bar',
                                        data: barChartData,
                                        options: {
                                            responsive: true,
                                            responsive: true,
                                            title: {
                                                display: true,
                                                text: 'Volumen de Ventas según el Precio'
                                            },
                                            tooltips: {
                                                mode: 'point'
                                            }
                                        }
			});





</script>
{% endblock PiePaginas %}

<!--   window.alert("hola, aqui se ejecuta el script los datos pasados de django desde el views.py XD")

 for (var index = 0; index < DEFAULT_DATASET_SIZE; ++index) {
				newDataset.data.push({
					x: randomScalingFactor(),
					y: randomScalingFactor(),
					r: Math.abs(randomScalingFactor()) / 5,
				});
			}

			bubbleChartData.datasets.push(newDataset);
			window.myChart.update();



-->
