{% extends "Plantilla_Index.html" %}
{% load custom_filters %}
{% block title %}
<title>Análisis de Sensibilidad de Precios (Segmentación)</title>
{% endblock title %}
{% block content %}
<H1 align="center">Top 10 (Productos con Mayor Variación en su precio)</H1>
<section id="content">
<div class="container">
     {% if producto %}
        <table class="table table-bordered">
          <thead>
            <tr>
                <td>#</td>
              <td>Desc. Producto</td>
                <td>Formato</td>
              <td>Precio-Variación</td>
            </tr>
          </thead>
          <tbody>
             {% for reg in producto %}
                 <tr>
                     <td>{{forloop.counter}}</td>
                     <td>{{reg.productoFk.DescripcionProducto}}</td>
                     <td>{{reg.productoFk.formatoFk.UnidadesFormato}}</td>
                     <td>{{reg.Cantidad}}</td>
                 </tr>
             {% endfor %}
             <tr>
                 <td> </td>
                 <td> </td>
                 <td>Prom. Factura: </td>
                 <td> {{promfact}} </td>
             </tr>
           </tbody>
        </table>

        <div class="row">
           <hr class="colorgraph">
             <div class="col‐sm‐40">
                 <h3></h3>
                 <canvas id="chart-area3" width="600" height="400"></canvas>
             </div>
             <br><br><br><br><br><br>
            <hr class="colorgraph">
              <div class="media">
                 <div class="col‐sm‐40">
                    <h3></h3>
                    <canvas id="chart-area" width="600" height="400"></canvas>
                 </div>
              </div>
            <br><br><br><br><br><br>
            <hr class="colorgraph">
              <div class="">
                 <div class="col‐sm‐40">
                    <h3></h3>
                    <canvas id="popChart" width="600" height="300"></canvas>
                 </div>
              </div>
            <br><br>
        </div>
     {% else %}
        <h1> !!! No hay Datos Disponibles para Construir la Gráfica (Segementación - precios)!!!!</h1>
     {% endif %}
</div>
</section>

{% endblock content %}

{% block PiePaginas %}
<script type="text/javascript">

    var x = {{x|safe}};
    var col = {{color|safe}};
    var y = {{y|safe}};
    var i = {{i|safe}}
    var volumen = {{volumen|safe}};
    var k=0;
    var rd = {{radio|safe}};
    var label = {{etiketas|safe}}

var bubbleChartData = {
			animation: {
				duration: 10000
			},
			datasets: []
		};

    var newDataset = {

				label: '',
				backgroundColor: col,
				data: []
			};

			for (var index = 0; index < i; index++) {
				newDataset.data.push({
					x: x[index],
					y: volumen[index],
					r: rd[index]
				});
			}

	bubbleChartData.datasets.push(newDataset);


    var config = {
			type: 'pie',
			data: {
				datasets: [{
                                data: y,
                                backgroundColor: col,
                                label: ''
				          }],
				labels: label
			},
			options: {
				responsive: true
			}
		};

    var barChartData = {
                            type: 'bar',
                            data: {
                                datasets: [{
                                                data: y,
                                                backgroundColor: col,
                                                label: ''

                                           }],
                                labels: label
                            },
                            options: {
                                responsive: true
                            }
		};




    var ctx = document.getElementById("chart-area3").getContext("2d");
    var ctx3 = document.getElementById("chart-area").getContext("2d");
    var ctxp = document.getElementById("popChart").getContext("2d");
    window.myPie = new Chart(ctx, config);
    window.myPie = new Chart(ctx3, barChartData);
    window.myChart = new Chart(ctxp, {
                                        type: 'bubble',
                                        data: bubbleChartData,
                                        options: {
                                            responsive: true,
                                            title: {
                                                display: true,
                                                text: 'Volumen de Ventas'
                                            },
                                            tooltips: {
                                                mode: 'point'
                                            }
                                        }
			});





</script>
{% endblock PiePaginas %}