{% extends "Plantilla_Index.html" %}

{% block content %}
{% block title %}<title>Productos</title>{% endblock %}
<H1 align="center">Lista de Productos</H1>
  <div style="margin-left:20px;margin-top:20px">
      <table class="table table-bordered">

          <thead>
          <tr>
              <td>#</td>
              <td>Código del Producto</td>
              <td>Descripción del Producto</td>
              <td>Formato</td>
          </tr>
          </thead>
          <tbody>
          {% if productos %}
            {% for producto in productos %}
             <tr>
                 <td>{{ forloop.counter0 }}</td>
                 <td> {{ producto.CodigoProducto}}</td>
                 {% if op == '1' %}
                    <td><a href="{% url 'food:grafico' producto.pk %}?codigo={{ producto.CodigoProducto }}">{{ producto.DescripcionProducto  }}</a></td>
                 {% else %}
                    <td><a href="{% url 'food:grafica_producto_cliente' producto.pk %}?codigo={{ producto.CodigoProducto }}">{{ producto.DescripcionProducto  }}</a></td>
                 {% endif %}
                 <td>{{ producto.formatoFk.DescripcionFormato }}</td>
             </tr>
            {% endfor %}
          {% else %}
           <h1> !!! No hay Productos Disponibles !!!!</h1>
          {% endif %}
          </tbody>
      </table>

  </div>
{% endblock %}


<!--
    CodigoCategoria = models.CharField(blank=True,max_length=50)
    categoriaFk = models.ForeignKey(Categoria, null= True, blank= True, on_delete = models.CASCADE)
    CodigoProducto = models.CharField(max_length=50)
    DescripcionProducto = models.CharField(blank=True,max_length=80)
    PrecioCosto = models.FloatField(default=0)
    PrecioMin = models.FloatField(default=0)
    PrecioMedio = models.FloatField(default=0)
    PrecioMax = models.FloatField(default=0)
    FechaModifica = models.DateField()
    formatoFk = models.ForeignKey(Formato, null= True, blank= True, on_delete = models.CASCADE)
    Activo = models.BooleanField(default = True)
-->